{% extends "students/base.html" %}

{% load static from staticfiles %}

{% block meta_title %}Облік Відвідування{% endblock meta_title %}

{% block title %}Облік Відвідування{% endblock title %}

{% block content %}

<div id="month">
  <ul class="month-page">
    <li><a href="?month={{ context.prev_month }}" title="Попередній Місяць">&larr;</a></li>
    <li><strong>{{ context.month_verbose }} {{ context.year }}</strong></li>
    <li><a href="?month={{ context.next_month }}" title='Наступний Місяць'>&rarr;</a></li>
  </ul>
</div>

<!-- Start Students Listing -->
<table class="table table-hover table-striped table-attendance">
  <thead>
    <tr>
      <th>#</th>
      <th>Студент</th>
      {% for day in context.month_header %}
      <th>
        {{ day.verbose }}<br> {{ day.day }}
      </th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for student in journal %}
    <tr>
      <td>{{ forloop.counter }}</td>
      <td>
        <a title="Редагувати" href="{% url 'students_edit'  1  %}">
          {{ student.student }}
        </a>
      </td>
      {% comment %}
      {% for day in 32 %}
      <td>
        <input type="checkbox" name="a" value="" {% if day in student.attendance %}checked{% endif %}>
        {{ group.captain }}
      </td>
      {% endfor %}
      {% endcomment %}
    </tr>
    {% endfor %}
  </tbody>
</table>
<nav>
  <ul class="pagination">
    <li class="disabled"><a href="#">1</a> </li>
    <li><a href="#">2</a> </li>
    <li><a href="#">Далі</a> </li>
  </ul>
</nav>

{% endblock content %}
